@font-face{
  font-family: 'SFdisplay-Black';
  src: url('/fonts/SFProDisplay-Black.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SFProDisplay-Regular';
  src: url('/fonts/SFProDisplay-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SFProDisplay-Bold';
  src: url('/fonts/SFProDisplay-Bold.woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}